<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.crud.demo.mapper.user.UserMapper">
  <select id="findAll" resultType="User">
    SELECT * FROM `mybatis_db`.`user`
  </select>
  <select id="findById" parameterType="Long" resultType="User">
    SELECT * FROM `mybatis_db`.`user` WHERE id = #{id}
  </select>
  <insert id="save" parameterType="User">
    INSERT INTO `mybatis_db`.`user` (username,email) VALUES (#{username},#{email})
  </insert>
  <update id="update" parameterType="User">
    UPDATE `mybatis_db`.`user` SET username=#{username} , email=#{email} WHERE id = #{id}
  </update>
</mapper>